<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInteractiveLogLabel" jhiTranslate="seodinApp.interactiveLog.home.createOrEditLabel">Create or edit a Interactive Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!interactiveLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="interactiveLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.kind" for="field_kind">Kind</label>
            <select class="form-control" name="kind" [(ngModel)]="interactiveLog.kind" id="field_kind" >
                <option value="SELECTION" jhiTranslate="seodinApp.LogKind.SELECTION">SELECTION</option>
                <option value="COMMAND" jhiTranslate="seodinApp.LogKind.COMMAND">COMMAND</option>
                <option value="PREFERENCE" jhiTranslate="seodinApp.LogKind.PREFERENCE">PREFERENCE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.sourceHandle" for="field_sourceHandle">Source Handle</label>
            <input type="text" class="form-control" name="sourceHandle" id="field_sourceHandle"
                [(ngModel)]="interactiveLog.sourceHandle"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.origin" for="field_origin">Origin</label>
            <input type="text" class="form-control" name="origin" id="field_origin"
                [(ngModel)]="interactiveLog.origin"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.delta" for="field_delta">Delta</label>
            <input type="text" class="form-control" name="delta" id="field_delta"
                [(ngModel)]="interactiveLog.delta"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.registred" for="field_registred">Registred</label>
            <div class="input-group">
                <input id="field_registred" type="text" class="form-control" name="registred" ngbDatepicker  #registredDp="ngbDatepicker" [(ngModel)]="interactiveLog.registred"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="registredDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.interactiveLog.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="interactiveLog.status" id="field_status" >
                <option value="PRIVATE" jhiTranslate="seodinApp.ArtifactStatus.PRIVATE">PRIVATE</option>
                <option value="SUBMITED" jhiTranslate="seodinApp.ArtifactStatus.SUBMITED">SUBMITED</option>
                <option value="PUBLISHED" jhiTranslate="seodinApp.ArtifactStatus.PUBLISHED">PUBLISHED</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="seodinApp.interactiveLog.developer" for="field_developer">Developer</label>
            <select class="form-control" id="field_developer" name="developer" [(ngModel)]="interactiveLog.developer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="developerOption.id === interactiveLog.developer?.id ? interactiveLog.developer : developerOption" *ngFor="let developerOption of developers; trackBy: trackDeveloperById">{{developerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
