<div *ngIf="study">
    <h2><span jhiTranslate="seodinApp.study.detail.title">Study</span> {{study.id}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="seodinApp.study.title">Title</span></dt>
        <dd>
            <span>{{study.title}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.study.description">Description</span></dt>
        <dd>
            <span>{{study.description}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.study.author">Author</span></dt>
        <dd>
            <span>{{study.author}}</span>
        </dd>
    </dl>
    <br/>

    <h3>
        <a (click)="toggleSoftwareSystems()"><span jhiTranslate="seodinApp.softwareSystem.home.title">Software Systems</span></a>
    </h3>
    <hr>

    <div class="table-responsive" *ngIf="!(expandSoftwareSystems)">
        <table class="table table-striped">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr *ngFor="let softwareSystem of softwareSystems ;trackBy: trackTag">
                <td>{{softwareSystem.tag}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>
        <a (click)="toggleDevelopers()"><span jhiTranslate="seodinApp.developer.home.title">Developers</span></a>
    </h3>
    <hr>
    <div class="table-responsive" *ngIf="!(expandDevelopers)">
        <table class="table">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr *ngFor="let developer of developers ;trackBy: trackTag">
                <td><a (click)="expandCollapseDeveloper(developer.name)">{{developer.name}}</a>
                <div class="container" *ngIf="!(expandDeveloper)">
                    <h4>
                        <a (click)="toggleInterviews(developer.name)"><span jhiTranslate="seodinApp.interview.home.title">Interviews</span></a>
                    </h4>
                    <hr>

                    <div class="table-responsive" *ngIf="!(expandInterviews)">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span jhiTranslate="seodinApp.interview.tag">Tag</span></th>
                                <th *ngIf="(expandInterview)"><span jhiTranslate="seodinApp.interview.description">Description</span></th>
                                <th *ngIf="(expandInterview)"><span jhiTranslate="seodinApp.interview.developer">Developer</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let interview of interviews ;trackBy: trackId">
                                <td><a [routerLink]="['/', { outlets: { popup: 'interview/'+ interview.id + '/search'} }]"
                                       replaceUrl="true">{{interview.tag}}</a></td>
                                <td>{{interview.description}}</td>
                                <td>
                                    <div *ngIf="interview.developer">
                                        {{interview.developer?.name}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4>
                        <a (click)="toggleThinkAlouds(developer.name)"><span jhiTranslate="seodinApp.thinkAloud.home.title">Think Alouds</span></a>
                    </h4>
                    <hr>

                    <div class="table-responsive" *ngIf="!(expandThinkAlouds)">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span jhiTranslate="seodinApp.thinkAloud.tag">Tag</span></th>
                                <th><span jhiTranslate="seodinApp.thinkAloud.description" *ngIf="(expandThinkAloud)">Description</span></th>
                                <th><span jhiTranslate="seodinApp.thinkAloud.softwareSystem" *ngIf="(expandThinkAloud)">Software System</span></th>
                                <th><span jhiTranslate="seodinApp.thinkAloud.developer" *ngIf="(expandThinkAloud)">Developer</span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let thinkAloud of thinkAlouds ;trackBy: trackId">
                                <td><a [routerLink]="['/', { outlets: { popup: 'think-aloud/'+ thinkAloud.id + '/search'} }]"
                                       replaceUrl="true">{{thinkAloud.tag}}</a></td>
                                <td>{{thinkAloud.description}}</td>
                                <td>
                                    <div *ngIf="thinkAloud.softwareSystem">
                                        {{thinkAloud.softwareSystem?.tag}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="thinkAloud.developer">
                                        {{thinkAloud.developer?.name}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr *ngIf="!(expandDevelopers)">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
