<div *ngIf="study">
    <h2><span jhiTranslate="seodinApp.study.detail.title">Study</span> {{study.id}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="seodinApp.study.title">Title</span></dt>
        <dd>
            <span>{{study.title}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.study.description">Description</span></dt>
        <dd>
            <span>{{study.description}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.study.author">Author</span></dt>
        <dd>
            <span>{{study.author}}</span>
        </dd>
    </dl>
    
    <h3>
        <span jhiTranslate="seodinApp.softwareSystem.home.title">Software Systems</span>
    </h3>
    <hr>

    <div class="table-responsive" *ngIf="softwareSystems">
        <table class="table table-striped">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr *ngFor="let softwareSystem of softwareSystems ;trackBy: trackTag">
                <td>{{softwareSystem.tag}}</td>
            </tr>
            </tbody>
        </table>
    </div>    
    
    <h3>
        <span jhiTranslate="seodinApp.developer.home.title">Developers</span>
    </h3>
    <hr>
    <jhi-alert></jhi-alert>

    <div class="table-responsive" *ngIf="developers">
        <table class="table table-striped">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr *ngFor="let developer of developers ;trackBy: trackName">
                <td>{{developer.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>
        <span jhiTranslate="seodinApp.thinkAloud.home.title">Think Alouds</span>
    </h3>

    <div class="table-responsive" *ngIf="thinkAlouds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="seodinApp.thinkAloud.tag">Tag</span></th>
            <th><span jhiTranslate="seodinApp.thinkAloud.description">Description</span></th>
            <th><span jhiTranslate="seodinApp.thinkAloud.registred">Registred</span></th>
            <th><span jhiTranslate="seodinApp.thinkAloud.softwareSystem">Software System</span></th>
            <th><span jhiTranslate="seodinApp.thinkAloud.developer">Developer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let thinkAloud of thinkAlouds ;trackBy: trackId">
                <td>{{thinkAloud.tag}}</td>
                <td>{{thinkAloud.description}}</td>
                <td>{{thinkAloud.registred | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="thinkAloud.softwareSystem">
                        {{thinkAloud.softwareSystem?.tag}}
                    </div>
                </td>
                <td>
                    <div *ngIf="thinkAloud.developer">
                        {{thinkAloud.developer?.name}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h3>
        <span jhiTranslate="seodinApp.video.home.title">Videos</span>
    </h3>
    
    <div class="table-responsive" *ngIf="videos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="seodinApp.video.tag">Tag</span></th>
            <th><span jhiTranslate="seodinApp.video.description">Description</span></th>
            <th><span jhiTranslate="seodinApp.video.duration">Duration</span></th>
            <th><span jhiTranslate="seodinApp.video.uri">Uri</span></th>
            <th><span jhiTranslate="seodinApp.video.status">Status</span></th>
            <th><span jhiTranslate="seodinApp.video.interview">Interview</span></th>
            <th><span jhiTranslate="seodinApp.video.thinkaloud">Thinkaloud</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let video of videos ;trackBy: trackId">
                <td>{{video.tag}}</td>
                <td>{{video.description}}</td>
                <td>{{video.duration}}</td>
                <td>{{video.uri}}</td>
                <td jhiTranslate="{{'seodinApp.ArtifactStatus.' + video.status}}">{{video.status}}</td>
                <td>
                    <div *ngIf="video.interview">
                        {{video.interview?.tag}}
                    </div>
                </td>
                <td>
                    <div *ngIf="video.thinkaloud">
                        {{video.thinkaloud?.tag}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h3>
        <span jhiTranslate="seodinApp.interview.home.title">Interviews</span>
    </h3>

    <div class="table-responsive" *ngIf="interviews">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="seodinApp.interview.tag">Tag</span></th>
            <th><span jhiTranslate="seodinApp.interview.description">Description</span></th>
            <th><span jhiTranslate="seodinApp.interview.developer">Developer</span></th>
            <th><span jhiTranslate="seodinApp.interview.registred">Registred</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let interview of interviews ;trackBy: trackId">
                <td>{{interview.tag}}</td>
                <td>{{interview.description}}</td>
                <td>
                    <div *ngIf="interview.developer">
                        {{interview.developer?.name}}
                    </div>
                </td>
                <td>{{interview.registred | date:'mediumDate'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h3>
        <span jhiTranslate="seodinApp.audio.home.title">Audios</span>
    </h3>
    
    <div class="table-responsive" *ngIf="audios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="seodinApp.audio.tag">Tag</span></th>
            <th><span jhiTranslate="seodinApp.audio.description">Description</span></th>
            <th><span jhiTranslate="seodinApp.audio.duration">Duration</span></th>
            <th><span jhiTranslate="seodinApp.audio.uri">Uri</span></th>
            <th><span jhiTranslate="seodinApp.audio.status">Status</span></th>
            <th><span jhiTranslate="seodinApp.audio.interview">Interview</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let audio of audios ;trackBy: trackId">
                <td>{{audio.tag}}</td>
                <td>{{audio.description}}</td>
                <td>{{audio.duration}}</td>
                <td>{{audio.uri}}</td>
                <td jhiTranslate="{{'seodinApp.ArtifactStatus.' + audio.status}}">{{audio.status}}</td>
                <td>
                    <div *ngIf="audio.interview">
                        {{audio.interview?.tag}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    
    <hr>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
